    <style type="text/css">
		/* 404 PAGE */
		.error-404{
				width:500px;
				color:#333;
				font-size:12px;
				border: 1px solid #333;
				margin-top:100px;
				padding-bottom:100px;
				font-family:Arial, Helvetica, sans-serif;
				margin-bottom:10px; 
		}
		.error-code{
			font-size:10px;
			color:#FFF;
			text-align:left;
			background-color:#F00;
			padding:5px;
			margin-bottom:100px;
		}
		.error-footer{
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;	
		}
	</style>
    
    <div align="center">
		<div class="error-404" align="center">
        	<div class="error-code"> Error Code: 404 ( Page not found! )</div>
        	<div>
				The page you are trying to access does not exist!<br>
            	Please report this to the site administrator. Thank You!
           </div>
		</div>
		<div class="error-footer">
        	@ {year} Fortius, Prime Factors Inc. All Rights Reserved
		</div>
	</div>
 