
                  	<fort:loop name="orders">
                    <div class="alert alert-{type} f-big">
                      <button class="btn btn-xs btn-success pull-right f-big" onclick="{action}"><i class="icon-ok"></i> OK</button> {name} 
                      
                      <div class="badge pull-left f-big" style="margin-right:10px; background:#fff; color:#000; font-family:Arial, Helvetica, sans-serif;">
                        {table}
                      </div>
                      <div class="badge pull-left f-big" style="margin-right:10px;background:#F00;">
                        {time}
                      </div>
                    </div>
                    </fort>
                    
