
 <style>
 
 

 .drinks{
	 background-color:#66C;
	 color:#FFF;
 }
 .f-big{
	font-size:30px;
}
.f-small{
	font-size:25px;
}
.navbar{
	display:none;
}
.btn{
	display:none;
}
body{
	padding-top:10px;
}
.order-window {
    height: 95%;
    overflow: hidden;
    position: fixed;
    width: 56%;
}
#order-summary .alert {
	margin:0;
	padding:5px;
}
.order-slide{
	min-height:610px;
}


:-webkit-full-screen {
  /* properties */
}

:-moz-full-screen {
  /* properties */
}

:-ms-fullscreen {
  /* properties */
}

:full-screen { /*pre-spec */
  /* properties */
}

:fullscreen { /* spec */
  /* properties */
}

/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
::backdrop {
  /* properties */
}
::-ms-backdrop {
  /* properties */
}
.fullscreen{
	color:#FFF;
	text-decoration:none;
	display:none;
	margin-left:20px;
}
.on{
	display:block;
}
 </style>
          

 <a href="#" onclick="Fullscreen();" class="fullscreen on" id="full">(+) Fullscreen</a><a href="#" onclick="exitFullscreen();" class="fullscreen" id="exit">(-) Exit Fullscreen</a>
 <div class="container-fluid main-content">
 <div class="page-title">
 		
        </div>
			<div class="row">
              <div class="col-lg-7">
                <div class="widget-container order-window">
                  <div id="scroll">
                      <div class="heading">
                        <i class="icon-warning-sign"></i>Pending Orders
                      </div>
                      <div class="widget-content padded" id="orders">
                        <fort:loop name="orders">
                        <div class="alert alert-{type} f-big">
                          <button class="btn btn-xs btn-success pull-right f-big" onclick="{action}"><i class="icon-ok"></i> OK</button> {name} 
                          
                          <div class="badge pull-left f-big" style="margin-right:10px; background:#fff; color:#000; font-family:Arial, Helvetica, sans-serif;">
                            {table}
                          </div>
                          <div class="badge pull-left f-big" style="margin-right:10px; background:#F00;">
                            {time}
                          </div>
                        </div>
                        </fort>
                        
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="widget-container order-slide">
                  <div class="widget-content" id="orders-slide">
                  	  <div class="heading">
                        <i class="icon-warning-sign"></i>Order Summary
                      </div>
                      <div class="widget-content " id="order-summary">
                      	 <fort:loop name="order-summary">
                      	 <div class="alert alert-{type} f-small">
                         	<b>{name}</b>
                                <br>
                                {tbl}
                                <div class="badge f-small" style="margin-right:10px;  background:#090;">Total: {total}</div>
                          </div>
                         </fort>
                      </div>
                     
                  </div>
                </div>
              </div>
            </div>
        
</div>
<script>
var intervals = 5000;
var reloader = setInterval("re_load()",intervals);
var scrollvar = setInterval("scroller()",intervals*3);
function re_load(){
	$.get("orders-orders_data.html",function(data){
		if(data){	
			$("#orders").html(data);	
		}
	});
}
var summary_reloader = setInterval("re_load_summary()",intervals);
function re_load_summary(){
	$.get("orders-orders_summary_data.html",function(data){
		if(data){	
			$("#order-summary").html(data);	
		}
	});
}
function scroller(){
	var height = $("#scroll").height();
	$(".order-window").animate({
		scrollTop:	(height-600)
	},15000, function(){
		$(".order-window").scrollTop(0);	
	})
}
function cancel(id){
	top.location.href='?n='+id;
}
</script>
<script>
// Find the right method, call on correct element
function Fullscreen() {
		var element = document.documentElement;
		  if(element.requestFullscreen) {
			element.requestFullscreen();
		  } else if(element.mozRequestFullScreen) {
			element.mozRequestFullScreen();
		  } else if(element.webkitRequestFullscreen) {
			element.webkitRequestFullscreen();
		  } else if(element.msRequestFullscreen) {
			element.msRequestFullscreen();
		  }
		  $(".fullscreen").removeClass("on");
		  $("#exit").addClass("on");
}
function exitFullscreen() {
  if(document.exitFullscreen) {
    document.exitFullscreen();
  } else if(document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if(document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  }
  $(".fullscreen").removeClass("on");
  $("#full").addClass("on");
}
</script>