<div class="container-fluid main-content"><div class="page-title">
  <h1>
    Expense Manager
  </h1>
</div>
<form action="system-add_expenses.html" id="request-form" class="form-horizontal" method="post" enctype="multipart/form-data">
<div class="row">
  <div class="col-lg-12">
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="icon-reorder"></i>Modify {prpduct}<br>
        <!--span class="col-md-2"></span><span style="color:#900" class="required-msg">All Red fields are required.</span-->
      </div>
      	
      <div class="widget-content padded">
      	<div class="form-group">
        	
            <label class="control-label col-md-2"></label>
            <div class="col-md-7" style="color:#900">
            	{error}
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Particular</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{name}" id="name" name="name" type="text">
           <input class="form-control" placeholder="Value" value="{id}" name="id" type="hidden">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2"> 
          	Expense Type
          </label>
          <div class="col-md-7">
           	<select class="form-control" id="category" name="category">
                {category}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2"> 
          	Qty
          </label>
          <div class="col-md-7">
           	<input class="form-control" placeholder="Value" value="{qty}" name="qty" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Total Cost</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{price}" id="price" name="price" type="text">
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-md-2">Supplier</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{supplier}" id="supplier" name="supplier" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" align="center">
	<div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
          <div class="widget-content padded">
          	<label class="control-label col-md-1"></label>
          	<div class="col-lg-4">
                <a class="btn btn-lg btn-block btn-default" href="system-expenses.html">Back To Expenses</a> 
            </div>
            <div class="col-lg-4">
                <button class="btn btn-lg btn-block btn-primary-outline" id="submit">Save</button> 
            </div>
          </div>
        </div>
    </div> 
</div>
</form>

<script>

$("#request-form").validate({
      rules: {
        name: "required",
		category: "required",
		price: "required",
		qty: "required",
		supplier: "required"
      },
      messages: {
        name: "Please enter Item Name",
		category: "Please Select a Category",
		price: "Please enter the price",
		qty: "Please enter the Quantity",
		supplier: "Please enter the Supplier"
      }
});

</script>