<div class="container-fluid main-content"><div class="page-title">
  <h1>
    Manage Assay
  </h1>
</div>
<form action="system-assayadd.html" id="request-form" class="form-horizontal" method="post" enctype="multipart/form-data">
<div class="row">
  <div class="col-lg-12">
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="icon-reorder"></i>Add / Edit Test Assay<br>
        <!--span class="col-md-2"></span><span style="color:#900" class="required-msg">All Red fields are required.</span-->
      </div>
      	
      <div class="widget-content padded">
      	<div class="form-group">
        	
            <label class="control-label col-md-2"></label>
            <div class="col-md-7" style="color:#900">
            	{alert}
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Name</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{name}" id="name" name="name" type="text">
           <input class="form-control" placeholder="Value" value="{id}" name="id" type="hidden">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Test ID</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{code}" name="code" id="code" type="text">
          </div>
        </div>
         <div class="form-group">
          <label class="control-label col-md-2">Hospital Code</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{his_code}" name="his_code" type="text">
          </div>
        </div>
         <div class="form-group">
          <label class="control-label col-md-2">Specimen</label>
          <div class="col-md-7">
          <select class="form-control" id="specimen" name="specimen">
          	{specimen}
          </select>
          </div>
        </div>
         <div class="form-group">
          <label class="control-label col-md-2">Instrument</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{instrument}" id="instrument" name="instrument" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Dilution 0</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{dilution0}" name="dilution0" type="text">
          </div>
        </div> 
        <div class="form-group">
          <label class="control-label col-md-2">Dilution 1</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{dilution1}" name="dilution1" type="text">
          </div>
        </div> 
        <div class="form-group">
          <label class="control-label col-md-2">Dilution 2</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{dilution2}" name="dilution2" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Normal Value</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{value_normal}" id="value_normal" name="value_normal" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Valid Value</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{value_val}" name="value_val" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Critical Value</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{value_critical}" name="value_critical" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">QC Value</label>
          <div class="col-md-7">
           <input class="form-control" placeholder="Value" value="{value_qc}" name="value_qc" type="text">
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="row" align="center">
	<div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
          <div class="widget-content padded">
          	<label class="control-label col-md-1"></label>
          	<div class="col-lg-4">
                <a class="btn btn-lg btn-block btn-default" href="system-assay.html">Cancel</a> 
            </div>
            <div class="col-lg-4">
                <button class="btn btn-lg btn-block btn-primary-outline" id="submit">Submit</button> 
            </div>
          </div>
        </div>
    </div> 
</div>
</form>

<script>

$("#request-form").validate({
      rules: {
        name: "required",
		value_normal: "required",
		specimen: "required",
        code: "required",
		instrument: "required"
      },
      messages: {
        name: "Please enter Assay Name",
		value_normal: "Please enter Normal Value",
		specimen: "Please select specimen",
        code: "Please enter Assay ID",
		instrument: "Please enter Instrument"
      }
});

</script>