<div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            Package Manager
          </h1>
        </div>
        <!-- DataTables Example -->
        <div class="row">
          <div class="col-lg-12">
            <div class="widget-container fluid-height clearfix">
              <div class="heading">
                <a class="btn btn-sm btn-primary-outline pull-right" href="inventory-add_package.html" id=""><i class="icon-plus"></i>Create a Package</a>
              </div>
              <div class="widget-content padded clearfix">
                <table class="table table-bordered table-striped" id="dataTable">
                  <thead>
                  	<th>
                      Product Name
                    </th>
                    <th>
                      Price
                    </th>
                    <th></th>
                  </thead>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- end DataTables Example -->
      </div>
<script>
var DataTable =""
$(document).ready(function() {
	 DataTable = $('#dataTable').dataTable( {
        "bProcessing": true,
		"sPaginationType": "full_numbers",
        "bServerSide": true,
		"bSort": false,
        "sAjaxSource": "inventory-package_data.html",
		"fnCreatedRow": function( nRow, aData, iDataIndex ) {
			  // Bold the grade for all 'A' grade browsers
		}
      });
	 //var TestTable = $('#dataTable').dataTable();
	  // Sort immediately with columns 0 and 1
	  DataTable.fnSort( [ [1,'desc'] ] );
});

</script>




