/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	color:#900;
}

/* Navigator */
#navigator ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#navigator ul li:first-child a{
	border-left:1px solid #999;
}
#navigator ul li {
    float: left;
}
#navigator a {
    color: #000000;
    text-decoration: none;
	text-transform:uppercase;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
    padding: 10px;
	display:block;
}
#navigator a:hover{
	color:#900;
}
#navigator .selected a{
	background-color:#999;
	color:#FFF;
}

/* Content */
#content{
	margin-top:20px;
}
#content-details{
	margin-bottom:20px;
	font-size:12px;
}
#content-details .title{
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}

#content .box {
    border: 1px solid #CCCCCC;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
	border-radius:7px;
}
#content .box-full {
    border: 1px solid #CCCCCC;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 20px;
	border-radius:7px;
}
#content .box-left {
	float:left;
	width:500px;
}
#content .box-right {
	float: left;
    margin-left: 20px;
    width: 220px;
}
#content .box-right .barcode{
    width: 177px;
	height:auto;
}
#content .box-title h3 {
    margin: 0;
}
#content .box-title {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    margin-bottom: -15px;
    margin-left: 15px;
    padding: 5px;
}

/* Orders*/
#content-details .orders {
    margin: 0 0 5px;
    padding: 0;
}
#content-details .orders li {
    list-style: none outside none;
    padding: 5px 0;
}
#content-details .orders li span {
    display: inline-block;
    width: 80px;
}
#submit-btn{
	width:740px;
}
/* Elements */
.button{
	padding:10px;
	display:inline-block;
	border:#999 1px solid;
	text-decoration:none;
	color:#000;
}
.button:hover{
	color:#900;
}

/* Results */
#content .assay-name {
    width: 450px !important;
}
#content .assay-ref {
    width: 150px !important;
}
#content .assay-val {
    width: 80px !important;
}